* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.app {
	background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/21a8ba09-4a61-44f8-8e2e-70e949c00c6f/e54a23b9-5f4f-4218-ba09-8e62ba01f9cc/BR-pt-20240722-POP_SIGNUP_TWO_WEEKS-perspective_WEB_f47ff160-2a29-4b8f-849f-20fecdea9010_large.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
